<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename = 'architecture.js') }}"></script>
        <style>
            input, label {
              font-family: monospace;
            }
            #start_div {
                display: flex;
                height: 100%;
            }
            #side_div {
                border: 1px solid #07357d;
                height: 100%;
                width: 5%;
                background-color: #07357d;
            }
            #main_div {
                border: 1px solid black;
                height: 100%;
                width: 95%;
            }
            #header_div {
                border: 1px solid black;
                height: 40px;
                padding: 16px;
                display: flex;
                align-items: center;
            }
            #home_div {
                border: 1px solid black;
                height: 40px;
                padding: 10px;
                display: flex;
                align-items: center;
                padding-left: 16px;
            }
            #body_div {
                border: 1px solid black;
                height: calc(100% - 138px);
                background-color: #f5f5f9;
                overflow-y: scroll;
            }
            .main_text {
                font-family: auto; 
                font-size: 48px;
            }
            .sub_text {
                font-family: auto; 
                font-size: 18px;
            }
            .contents_items_div {
                margin: 16px 32px;
            }
            .contents_items_button {
                margin: 16px 0px;
                padding: 8px 16px;
                font-size: 18px;
                font-family: auto;
                color: white;
                background-color: 07357d;
            }
            .contents_items_div input[type=text] {
                height: 32px;
                width: 516px;
            }
            .contents_items_div textarea {
                height: 96px;
                width: 516px;
            }
            .contents_items_div select {
                height: 32px;
                width: 320px;
            }
            #dialog_div {
                height: 100%;
                width: 100%;
                visibility: hidden;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1000;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            #drive_div {
                visibility: hidden;
                border: 1px solid black;
                /* height: 300px;
                width: 300px; */
                position: relative;
                background: white;     
            }
            #drive_file_div {
                height: 250px;
                width: 300px;
                overflow: scroll;
                padding: 0px 16px 0px;
            }
            #drive_header_div, #drive_footer_div {
                padding: 16px;
                text-align: right;
            }
            #prev_page_drive_button, #next_page_drive_button, #close_drive_button {
                font-size: 16px;
                font-family: auto;
                color: white;
                background-color: 07357d;
            }
            .drive_file {
                margin: 3px;
            }
            #file_container_div {
                border: 1px solid gray;
                height: 48px;
                width: 512px;
            }
            #added_file_div {
                height: 24px;
                padding: 12px;
            }
            #added_file_div > label {
                padding: 0px 8px;
                font-size: 18px;
                color: #6b6464;
            }
            #added_file_div > input[type=button] {
                font-size: 16px;
                font-family: auto;
                color: white;
                background-color: 07357d;
            }
            #primary_contact_tag {
              border: 1px solid gray;
              height: 36px;
              width: 516px;
              margin-top: 4px;
              padding: 1px;
              max-height: 36px;
              max-width: 516px;
            }
            #secondary_contact_tag {
              border: 1px solid gray;
              height: 96px;
              width: 516px;
              margin-top: 4px;
              margin-left: 330px;
              padding: 1px;
              max-height: 96px;
              max-width: 516px;
              overflow-x: scroll;
              overflow-y: scroll;
            }
            #secondary_contact_select {
              float: left;
              height: 32px;
              width: 216px;
            }
            #secondary_contact_tag label, #primary_contact_tag label {
              border: 1px solid black;
              background-color: gray;
              border-radius: 4px;
              padding: 2px;
              margin: 6px;
              display: inline-block;
            }
            #secondary_contact_tag input[type=button], #primary_contact_tag input[type=button] {
              background: none;
              border: none;
              cursor: pointer;
            }
            #no_file_present_div {
              margin-left: 52px;
              font-size: 24px;
            }

        </style>
    </head>
    <body>
        <div id='start_div'>
            <div id='side_div'>

            </div>
            <div id='main_div'>
                <div id='header_div'>
                    <div style="float: left; width: 75%">
                        <label style="font-family: auto; font-size: 24px; color: #07357d; font-weight: bold;">global</label>
                        <label style="font-family: auto; font-size: 24px; color: #07357d;">payments</label>
                    </div>
                    {% if data['login'] == 'success' %}
                        <div class="contents_items_div" style="float: right; width: 25%; text-align: right;">
                            <input type="button" id="logout" name="logout" value="Logout" class="contents_items_button" />
                        </div>
                    {% endif %}
                </div>
                <div id='home_div'>
                    <label style="font-family: auto; font-size: 24px;">Engagement Details</label>
                </div>
                <div id='body_div'>
                    <div id='content_div'>
                        <form action="/submit" method = "post" enctype="multipart/form-data">
                            <div class="contents_items_div" style="margin-top: 48px;">
                                <label class="sub_text">Engagement Name</label>
                            </div>
                            <div class="contents_items_div">
                                <input id="name" name="name" type="text" required></input>
                            </div>
                            <div class="contents_items_div">
                                <label class="sub_text">Summary</label>
                            </div>
                            <div class="contents_items_div">
                                <textarea id="summary" name="summary" required></textarea>
                            </div>
                            
                            <div class="contents_items_div" style="margin-top: 48px;">
                              <label class="sub_text">Primary Contact</label>
                            </div>
                            <div class="contents_items_div">
                              <input id="primary_contact" name="primary_contact" type="text" style="display: none;" value={{ data['profile']['email'] }}></input>
                              <div id="primary_contact_tag">
                                <label id={{ data['profile']['email'] }}_label email={{ data['profile']['email'] }} fullname={{ data['profile']['name'] }}>
                                  {{ data['profile']['name'] }}
                                </label>
                              </div>
                            </div>

                            <div class="contents_items_div" style="margin-top: 48px;">
                              <label class="sub_text">Secondary Contact</label>
                            </div>
                            <div class="contents_items_div">
                              <datalist name="secondary_contact_list" id="secondary_contact_list" >
                                <!-- <option id='empty_option' value='empty'>Select Contact</option> -->
                                {% for user in data['users'] %}
                                  <option id={{ user['email'] }}_option value={{ user['email'] }}>{{ user['name'] }}</option>
                                {% endfor %}
                              </datalist>
                              <input autoComplete="on" id="secondary_contact_select" list="secondary_contact_list"/> 
                              <input id="secondary_contact" name="secondary_contact" type="text" style="display: none;"></input>
                              <div id="secondary_contact_tag">

                              </div>
                            </div>


                            <div id='file_link_div' style="display: none;">
                                <div class="contents_items_div">
                                    <label class="sub_text">File Name</label>
                                </div>
                                <div class="contents_items_div">
                                    <input id="file_name_text" name="file_name_text" type="text"></input>
                                </div>
                                <div class="contents_items_div">
                                    <label class="sub_text">File Link</label>
                                </div>
                                <div class="contents_items_div">
                                    <input id="file_link_text" name="file_link_text" type="text"></input>
                                </div>
                            </div>
                            <div class="contents_items_div">
                                <input type="button" id="local_file_button" name="local_file_button" value="File Upload" class="contents_items_button">
                                    <input type="file" id="local_file" name="local_file" style="display: none;" class="contents_items_button" />
                                </input>
                                <input type="text" id="drive_file_id" name="drive_file_id" style="display: none;" />
                                <input type="button" id="drive_file" name="drive_file" value="Drive" class="contents_items_button" />
                                <input type="button" id="file_link" name="file_link" value="File Link" class="contents_items_button" />
                            </div>
                            <div id="file_container_div" class="contents_items_div" style="display: none;">
                            
                            </div>
                            <div class="contents_items_div">
                                <input id="submit" type="submit" value="Submit" class="contents_items_button"></input>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div id='dialog_div'>
            <div id='drive_div'>
                <div id='drive_header_div'>
                    <!-- <input type="button" class="drive_contents_items_div" id="back_drive_button" value="Back"/> -->
                    <input type="search" class="drive_contents_items_div" id="drive_search_text"/>
                    <input type="button" class="drive_contents_items_div" id="drive_search_button" value="Search"/>
                    <input type="button" class="drive_contents_items_div" id="close_drive_button" value="Close"/>
                </div>
                <div id='no_file_present_div'>
                  <label id="no_file_present">No File Presents</label>
                </div>
                <div id='drive_file_div'>
                </div>
                <div id='drive_footer_div'>
                    <input type="button" class="drive_contents_items_div" id="prev_page_drive_button" value="Prev"/>
                    <input type="button" class="drive_contents_items_div" id="next_page_drive_button" value="Next"/>
                </div>
            </div>
        </div>
    </body>
</html>
