<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename = 'file_upload.js') }}"></script>
        <style>
            #start_div {
                display: flex;
                height: 100%;
            }
            #side_div {
                border: 1px solid #07357d;
                height: 100%;
                width: 5%;
                background-color: #07357d;
            }
            #main_div {
                border: 1px solid black;
                height: 100%;
                width: 95%;
            }
            #header_div {
                border: 1px solid black;
                height: 40px;
                padding: 16px;
                display: flex;
                align-items: center;
            }
            #home_div {
                border: 1px solid black;
                height: 40px;
                padding: 10px;
                display: flex;
                align-items: center;
                padding-left: 16px;
            }
            #body_div {
                border: 1px solid black;
                height: calc(100% - 138px);
                background-color: #f5f5f9;
            }
            .main_text {
                font-family: auto; 
                font-size: 48px;
            }
            .sub_text {
                font-family: auto; 
                font-size: 18px;
            }
            .contents_items_div {
                margin: 16px 32px;
            }
            .contents_items_button {
                margin: 16px 0px;
                padding: 8px 16px;
                font-size: 18px;
                font-family: auto;
                color: white;
                background-color: 07357d;
            }
            .contents_items_div input[type=input] {
                height: 32px;
                width: 516px;
            }
            .contents_items_div input[type=button] {
                font-size: 20px;
                height: 32px;
                width: 126px;
            }
            .contents_items_div input[type=file] {
                font-size: 20px;
                height: 32px;
                width: 516px;
            }
            .contents_items_div textarea {
                height: 96px;
                width: 516px;
            }
            #dialog_div {
                height: 100%;
                width: 100%;
                visibility: hidden;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1000;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            #drive_div {
                visibility: hidden;
                border: 1px solid black;
                /* height: 300px;
                width: 300px; */
                position: relative;
                background: white;     
            }
            #drive_file_div {
                height: 250px;
                width: 300px;
                overflow: scroll;
                padding: 0px 16px 0px;
            }
            #drive_header_div, #drive_footer_div {
                padding: 16px;
                text-align: right;
            }
            .drive_contents_items_div input[type=button] {
                font-size: 16px;
                height: 24px;
                width: 64px;
            }
            .drive_file {
                margin: 3px;
            }
        </style>
    </head>
    <body>
        <div id='start_div'>
            <div id='side_div'>

            </div>
            <div id='main_div'>
                <div id='header_div'>
                    <div style="float: left; width: 75%">
                        <label style="font-family: auto; font-size: 24px; color: #07357d; font-weight: bold;">global</label>
                        <label style="font-family: auto; font-size: 24px; color: #07357d;">payments</label>
                    </div>
                    {% if data['login'] == 'success' %}
                      <div class="contents_items_div" style="float: right; width: 25%; text-align: right;">
                        <input type="button" id="logout" name="logout" value="Logout" class="contents_items_button" />
                      </div>
                    {% endif %}
                </div>
                <div id='home_div'>
                    <label style="font-family: auto; font-size: 24px;">Engagement Details</label>
                </div>
                <div id='body_div'>
                    <div id='content_div'>
                        <form method = "post">
                            <div class="contents_items_div">
                                <input type="file" id="local_file" name="local_file">
                            </div>
                            <div class="contents_items_div">
                                <input type="button" id="drive_file" name="drive_file" value="Drive">
                            </div>
                            <div class="contents_items_div">
                                <input type="button" id="file_link" name="file_link" value="File Link">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div id='dialog_div'>
            <div id='drive_div'>
                <div id='drive_header_div'>
                    <!-- <input type="button" class="drive_contents_items_div" id="back_drive_button" value="Back"/> -->
                    <input type="button" class="drive_contents_items_div" id="close_drive_button" value="Close"/>
                </div>
                <div id='drive_file_div'>
                    {% if file_list |count > 0 %}
                        {% for file in file_list %}
                            <div>
                                <img id = {{ file['id'] }} src = {{ file['iconLink'] }} />
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
                <div id='drive_footer_div'>
                    <input type="button" class="drive_contents_items_div" id="prev_page_drive_button" value="Prev"/>
                    <input type="button" class="drive_contents_items_div" id="next_page_drive_button" value="Next"/>
                </div>
            </div>
        </div>
    </body>
</html>
