<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename = 'index.js') }}"></script>
        <style>
            #start_div {
                display: flex;
                height: 100%;
            }
            #side_div {
                border: 1px solid #07357d;
                height: 100%;
                width: 5%;
                background-color: #07357d;
            }
            #main_div {
                border: 1px solid black;
                height: 100%;
                width: 95%;
            }
            #header_div {
                border: 1px solid black;
                height: 40px;
                padding: 10px;
                display: flex;
                align-items: center;
            }
            #home_div {
                border: 1px solid black;
                height: 40px;
                padding: 10px;
                display: flex;
                align-items: center;
                padding-left: 30px;
            }
            #body_div {
                border: 1px solid black;
                height: calc(100% - 126px);
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #f5f5f9;
            }
            #content_div {
                text-align: center;
            }
            .main_text {
                font-family: auto; 
                font-size: 48px;
            }
            .sub_text {
                font-family: cursive; 
                font-size: 18px;
            }
            .contents_items_label_div {
                margin: 8px 0px;
            }
            .contents_items_button {
                margin: 16px 0px;
                padding: 8px 16px;
                font-size: 18px;
                font-family: auto;
                color: white;
                background-color: 07357d;
            }
        </style>
    </head>
    <body>
        <div id='start_div'>
            <div id='side_div'>

            </div>
            <div id='main_div'>
                <div id='header_div'>
                    <div style="float: left; width: 75%">
                        <label style="font-family: auto; font-size: 24px; color: #07357d; font-weight: bold;">global</label>
                        <label style="font-family: auto; font-size: 24px; color: #07357d;">payments</label>
                    </div>
                    {% if data['login'] == 'success' %}
                        <div class="contents_items_div" style="float: right; width: 25%; text-align: right;">
                            <input type="button" id="logout" name="logout" value="Logout" class="contents_items_button" />
                        </div>
                    {% endif %}
                </div>
                <div id='home_div'>
                    <label style="font-family: auto; font-size: 24px;">Home</label>
                </div>
                <div id='body_div'>
                    <div id='content_div'>
                        <div class="contents_items_label_div">
                            <label class="main_text">Welcome to the New I2I Request Portal</label>
                        </div>
                        <div class="contents_items_label_div">
                            <label class="sub_text">We've collapsed all of our previous site into a new single easy to use app.</label>
                        </div>
                        <div style="border: 1px solid black; margin: 24px 0px"></div>
                        <div class="contents_items_label_div">
                            <label class="sub_text">To get you started quickly, begin by creating a new request, importing an old request or checking the status of an existing one.</label>
                        </div>
                        {% if data['login'] == 'success' %}
                            <div>
                                <input id="newRequest" type="button" value="New Request" class="contents_items_button"></input>
                            </div>
                        {% else %}
                            <div>
                                <input id="login" type="button" value="Login" class="contents_items_button"></input>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
