<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename = 'index.js') }}"></script>
        <style>
            #start_div {
                display: flex;
                height: 100%;
            }
            #side_div {
                border: 1px solid #07357d;
                height: 100%;
                width: 5%;
                background-color: #07357d;
            }
            #main_div {
                border: 1px solid black;
                height: 100%;
                width: 95%;
            }
            #header_div {
                border: 1px solid black;
                height: 40px;
                padding: 10px;
                display: flex;
                align-items: center;
            }
            #home_div {
                border: 1px solid black;
                height: 40px;
                padding: 8px;
                display: flex;
                align-items: center;
                padding-left: 24px;
            }
            #body_div {
                border: 1px solid black;
                height: calc(100% - 126px);
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #f5f5f9;
            }
            #content_left_div {
                border: 1px solid black;
                height: 100%;
                width: 35%;
            }
            #content_right_div {
                border: 1px solid black;
                height: 100%;
                width: 65%
            }
            .contents_items_label_div {
                padding: 24px;
            }
            .main_text {
                font-family: auto; 
                font-size: 24px;
            }
            .sub_text {
                font-family: auto; 
                font-size: 18px;
            }
            .contents_items_button {
                margin: 16px 0px;
                padding: 8px 16px;
                font-size: 18px;
                font-family: auto;
                color: white;
                background-color: 07357d;
            }
        </style>
    </head>
    <body>
        <div id='start_div'>
            <div id='side_div'>

            </div>
            <div id='main_div'>
                <div id='header_div'>
                    <div style="float: left; width: 75%">
                        <label style="font-family: auto; font-size: 24px; color: #07357d; font-weight: bold;">global</label>
                        <label style="font-family: auto; font-size: 24px; color: #07357d;">payments</label>
                    </div>
                    {% if data['login'] == 'success' %}
                        <div class="contents_items_div" style="float: right; width: 25%; text-align: right;">
                            <input type="button" id="logout" name="logout" value="Logout" class="contents_items_button" />
                        </div>
                    {% endif %}
                </div>
                <div id='home_div'>
                    <label style="font-family: auto; font-size: 24px;">Home</label>
                </div>
                <div id='body_div'>
                    <div id='content_left_div'>
                        <div class="contents_items_label_div">
                            <label class="main_text">Request Types</label>
                        </div>
                        <div class="contents_items_label_div" style="padding-top: 0px;">
                            <label class="sub_text">Choose from available request options at right. If you're not sure, hover the help icon for more info.</label>
                        </div>
                    </div>
                    <div id='content_right_div'>
                        <div class="contents_items_label_div">
                            <label class="main_text">Catalog</label>
                        </div>
                        <div class="contents_items_label_div" style="padding-top: 8px; padding-bottom: 8px;">
                            <a href="/architecture"><label class="sub_text" style="font-weight: bold;">Architecture</label></a>
                        </div>
                        <div class="contents_items_label_div" style="padding-top: 8px; padding-bottom: 8px;">
                            <a><label class="sub_text" style="font-weight: bold;">I2I Development</label></a>
                        </div>
                        <div class="contents_items_label_div" style="padding-top: 8px; padding-bottom: 8px;">
                            <a><label class="sub_text" style="font-weight: bold;">Peerless</label></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
