<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename = 'view.js') }}"></script>
        <style>
            #start_div {
                display: flex;
                height: 100%;
            }
            #side_div {
                border: 1px solid #07357d;
                height: 100%;
                width: 5%;
                background-color: #07357d;
            }
            #main_div {
                border: 1px solid black;
                height: 100%;
                width: 95%;
            }
            #header_div {
                border: 1px solid black;
                height: 40px;
                padding: 16px;
                display: flex;
                align-items: center;
            }
            #home_div {
                border: 1px solid black;
                height: 40px;
                padding: 10px;
                display: flex;
                align-items: center;
                padding-left: 16px;
            }
            #body_div {
                border: 1px solid black;
                height: calc(100% - 138px);
                background-color: #f5f5f9;
            }
            .main_text {
                font-family: auto; 
                font-size: 48px;
            }
            .sub_text {
                font-family: auto; 
                font-size: 18px;
            }
            .contents_items_div {
                margin: 16px 32px;
            }
            .contents_items_button {
                margin: 16px 0px;
                padding: 8px 16px;
                font-size: 18px;
                font-family: auto;
                color: white;
                background-color: 07357d;
            }
            .contents_items_div input[type=text] {
                height: 32px;
                width: 516px;
            }
            .contents_items_div textarea {
                height: 96px;
                width: 516px;
            }
            table {
                border: 2px solid black;
                border-spacing: 0px;
                font-size: 18px;
                margin: 32px;
            }
            th, td {
                padding: 8px;
                min-width: 100px;
                background-color: #eee9f5;
            }
            #content_div {
                height: 400px;
                overflow: scroll;
            }
        </style>
    </head>
    <body>
        <div id='start_div'>
            <div id='side_div'>

            </div>
            <div id='main_div'>
                <div id='header_div'>
                    <div style="float: left; width: 75%">
                        <label style="font-family: auto; font-size: 24px; color: #07357d; font-weight: bold;">global</label>
                        <label style="font-family: auto; font-size: 24px; color: #07357d;">payments</label>
                    </div>
                    {% if data['login'] == 'success' %}
                        <div class="contents_items_div" style="float: right; width: 25%; text-align: right;">
                            <input type="button" id="logout" name="logout" value="Logout" class="contents_items_button" />
                        </div>
                    {% endif %}
                </div>
                <div id='home_div'>
                    <div>
                        <label style="font-family: auto; font-size: 24px;">Engagement Details</label>
                    </div>
                    <div style="text-align: right; margin-left: 216px;">
                        <input type="button" id='goto_home' value='Home' class="contents_items_button"></input>
                    </div>
                </div>
                <div id='body_div'>
                    <div id='content_div'>
                        <table border = 1>
                            {% if result |count > 0 %}
                            <tr>
                                {% for key in result[0].keys() %}
                                    <th> {{ key.upper() }} </th>
                                {% endfor %}
                            </tr>
            
                            {% for data in result %}
                                <tr>
                                    {% for value in data.values() %}
                                        <td> {{ value }} </td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                            {% endif %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
